= form_for @post, html: { class: "form form-horizontal post" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@post[:title])
  .form-group
    = f.label :slug, class: 'control-label'
    .controls
      = f.text_field :slug, class: 'form-control', required: true
    = error_span(@post[:slug])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@post[:description])
  .form-group
    = f.label :category_id, class: 'control-label'
    .controls
      = select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name), :class => "form-control", required: true
    = error_span(@post[:category_id])
  .form-group
    = f.label :content, class: 'control-label'
    .controls
      = f.cktext_area :content, class: 'form-control', required: true
    = error_span(@post[:content])
  .form-group
    = f.label :is_published, class: 'control-label'
    .controls
      = f.radio_button :is_published, true
      Yes
      = f.radio_button :is_published, false
      No
    = error_span(@post[:is_published])
  .pull-right
    = f.submit nil,class: 'btn btn-primary'
    - if @post[:slug]
      = link_to t('.cancel', :default => t("helpers.links.cancel")), '/' + @post[:slug], :class => 'btn btn-default'
