%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Slug
      %th Description
      %th Category
      %th Content
      %th Is published
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.slug
        %td= post.description
        %td= post.category_id
        %td= post.content
        %td= post.is_published
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
