.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %article
        = @post.content.html_safe  
      
      #disqus_thread
        &nbsp;
        
      :javascript
          var disqus_shortname = 'socialenemy';       
          var disqus_identifier = '#{@post.id}';       
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      
      %hr
      .pull-right
        = link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn btn-default'
        - if user_signed_in?
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), :class => 'btn btn-default'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), post_path(@post), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
